.section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black; /* 设置文本颜色为黑色 */
    font-weight: bold; /* 设置文本为粗体 */
}

.section h1 {
    /* 也可以为标题设置黑色粗体，但由于它们在.section内部，这可能是多余的 */
    color: black;
    font-weight: bold;
}
