.section {
    flex: 1;
    
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black; /* 设置文本颜色为黑色 */
    font-weight: bold; /* 设置文本为粗体 */
}


.section h1 {
    font-size: 8rem;  /* 调整为2.5rem或您想要的任何其他值 */
    font-weight: bold; 
    color: black;
}

#main-title {
    text-align: center;
    font-size: 5em;  /* 调整这个值以增大或减小字号 */
    margin-top: 0;  /* 去掉标题与页面顶部的间距 */
    padding-top: 0; /* 确保没有额外的内部间距推动标题向下 */
    font-style: italic;
}

.image-container {
    width: 100%;   /* 设定容器宽度为100% */
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: center; /* 在水平方向上居中内容 */
}

.myImage {
    max-width: 50%; /* 设定图像最大宽度为容器的90%。您可以根据需求进行调整 */
    height: auto;   /* 保持原始的纵横比 */
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navigation li {
    /* 这里无需设置 display: inline; 因为flex布局会自动处理这部分 */
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 2rem;  /* 我们增加字体大小为2rem */
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.navigation a:hover {
    background-color: #e0e0e0;
}

/* ... 其他样式 ... */
