.section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: black; /* 设置文本颜色为黑色 */
    font-weight: bold; /* 设置文本为粗体 */
}
tuo

.section h1 {
    /* 也可以为标题设置黑色粗体，但由于它们在.section内部，这可能是多余的 */
    color: black;
    font-weight: bold;
}

#main-title {
    text-align: center;
    font-size: 5em;  /* 调整这个值以增大或减小字号 */
    margin-top: 0;  /* 去掉标题与页面顶部的间距 */
    padding-top: 0; /* 确保没有额外的内部间距推动标题向下 */
    font-style: italic;
}

h1 a {
    color: inherit;  /* 使链接颜色与h1标题相同 */
    text-decoration: none;  /* 去除下划线 */
}

h1 a:hover {
    text-decoration: underline;  /* 当鼠标悬停时添加下划线 */
}

.content-container {
    margin: 0 auto;
    max-width: 1200px; /* 根据需要调整这个值 */
    padding: 0 20px; /* 这将在左右两边各添加20像素的间距 */
}

.myImage {
    width: 800px;  /* 例子宽度值，您可以根据需要调整 */
    height: auto; /* 保持图片的原始宽高比 */
}
